<div class="clearfix-custom"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12 graph-container clearfix">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div help-ziplines class="graph"></div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3 class="clearfix">Zipline Data</h3>
          <p>Lorem Ipsum, this is the data information for zipline</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12 clearfix">
          <div help-bonfires></div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3 class="clearfix">Bonfire Data</h3>
          <p>Lorem Ipsum, this is the data information for bonfires</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12 clearfix">
          <div lets-pair></div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3 class="clearfix">Lets Pair Data</h3>
          <p>Lorem Ipsum, this is the data information for bonfires</p>
        </div>
      </div>
    </div>
  </div>
</div>
